img.logo{
    height: 150px;
    width: 150px;
    float: left;
    margin-bottom: 20px;
}
h1 em {
    font-size: 20px;
    font-weight: lighter;
    padding: 0%;
    margin: 0%;
}
.navigation #navbar {
    clear: left;
    list-style: none;
    position: fixed;
    top: 10px;
    right: 10px;    
}
.navigation #navbar li {
    float: left;
    padding: 5px;
}
div #about {
    clear: left;
    background-color: rgb(196, 226, 226);
    height: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-bottom-width: 2px;
    border-bottom-style: double;
    border-top-width: 2px;
    border-top-style: double;
}
section#products {
    background-color: rgb(196, 226, 226);
    border-bottom-width: 2px;
    border-bottom-style: double;
    border-top-width: 2px;
    border-top-style: double;
}
section#about h2 {
    text-align: center;
}
section#products h2, .mainproducts {
    text-align: center;
    list-style: none;
    font-weight: bold;
}
section#networking {
    background-color: rgb(196, 226, 226);
}
.footer {
    background-color: rgb(196, 226, 226);
    border-bottom: 20px;
    border-top: 20px;
}
.footer-top {
    background-color: rgb(202, 202, 153);
}
.samisa_logo img .navigation #navbar {
    height: 150px;
    width: 150px;
    float: left;
    margin-bottom: 20px;
    clear: left;
    list-style: none;
    position: fixed;
    top: 10px;
    right: 10px;   
}
div.about {
    clear: left;
}
div#gallery{
    clear: left;
   
}
div.invoice {
    clear: left;
}
#networking {
    clear: left;
}
.contactform {
    clear: left;
}

div.clear-images{
    clear: left;
}